.section-about {
  display: flex;
  flex-direction: column;
  row-gap: 10rem;
  justify-content: space-between;
  @include respond(tab-land) {
  gap:3rem;
  }
  @include respond(phone) {
  }
  @include respond(tab-land) {
    flex-direction: column;
  }
  &__about {
    // border-right: 1px solid;
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
    @include respond(tab-land) {
      padding: 0;
      border-right: none;
      border-bottom: none;
      row-gap: 5rem;
      margin: 3rem 0;
    }
    @include respond(tab-land) {
      width: 100%;
    }
    &-content{
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: space-around;
      column-gap: 5rem;
      @include respond(tab-land) {
        flex-direction: column;
        row-gap: 5rem;
        justify-content: space-between;
      }
    }
  }
}

.about-section-heading{
  text-decoration: underline;
  text-decoration-color: #BEE1E6;
  text-underline-position: under; 
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  &-1{
    text-align: center;
  }
}
.col-flex{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  width: 50%;
  @include respond(tab-land) {
    width: 100%;
  }
  &-heading{
    text-align: center;
    @include respond(tab-land) {
      text-align: left;
    }
  }
}
.row-flex-content{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 50%;
  padding: 3rem 0;
  &-casestudy{
    @include respond(tab-land) {
    width: 100%;
    }
  }
}
.about-content-flex{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.ul-style{
  list-style-position: inside;
}