.case-study-content{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        &-inner{
            display: flex;
            flex-direction: column;
            row-gap: 3rem;
        }
}
.case-study-banner{
    display: flex;
    padding: 5rem 3rem;
    justify-content: space-evenly;
    @include respond(tab-port) {
        flex-direction: column;
        row-gap: 5rem;
    }
    &-content{
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        justify-content: center;
        @include respond(tab-port) {
            width: 100%;
        }
    }
    &-image{
        text-align: right;
        @include respond(tab-port) {
        text-align: center;
        align-self: center;
        }
        &-center{
            text-align: center;
        }
    }
    
}
.logo-size{
    font-size: 18px !important;

}
.banner-logo-flex{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.responsive-img{
    width: 100%;
    max-width: 50%;
    height: auto;
    @include respond(tab-port) {
        max-width: 30%;
    }
}
.underlined{
    text-decoration: underline;
    text-underline-position: under; 
}
.img-left{
    text-align: left;
    @include respond(tab-land) {
    text-align: center;
    align-self: center;
    }
}
.banner-btn{
    display: flex;
    column-gap: 3rem;
    @include respond(tab-port) {
        flex-direction: column;
        row-gap: 3rem;
        align-items: center;
    }
}
.iframe-style{
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 1000px;
}
.img-competetive{
    width: 250px;
    height: 50px;
    @include respond(tab-port){
        width: fit-content;
        height: fit-content;
    }
}
.lofiwireflex{
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
}
.col-width-half{
    width: 50%;
    @include respond(tab-port){
        width: 100%;
    }
}
.imp-img{
    max-width: 75%;
}
.impimg-3{
    max-width: 25%;
    &-align{
        text-align:right;
        @include respond(tab-port){
            text-align: center;
        }
    }
}
.imp-flex{
display: flex;
flex-direction: column;
row-gap: 5rem;
}
.hifi-img{
    max-width: 100%;
}
.hifi-btn{
    justify-content: center;
}
.hifi-proto-img{
    max-width: 75%;
}
.section-padding-min{
    padding: 5rem;
}
.max-width{
    max-width: 80%;
}
.max-width-2{
    max-width: 100%;
}
