.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  @include respond(tab-port) {
    flex-direction: column;
  }
  @include respond(tab-phone) {
    gap: 0.75rem;
  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5rem;
    justify-content: space-between;
  }
}
.text-underline-pink{
  text-decoration: underline;
    text-decoration-color: #FFC6FF;
    text-underline-position: under; 
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
}
.contactFlex{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
}