.landing-page-flex{
  height: 70vh;
padding: 0 4rem;
}
.landing-page-text{
  margin-top: 5rem;
}
.landing-page-underline{
  text-decoration: underline;
  text-decoration-color: #FFC6FF;
  text-underline-position: under; 
}
.landing-page__bigheading{
margin-bottom: 5rem;
}
.button-underline{
  text-decoration: underline;
  text-decoration-color: #FFE45E;
  text-underline-position: under; 
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}
.work-padding{
  margin-top:7rem;
}