.landing-page-flex {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  justify-content: space-between;
}
.landing-page-underline {
  text-decoration: underline;
  text-decoration-color: #ffc6ff;
  text-underline-position: under;
}
.button-underline {
  text-decoration: underline;
  text-decoration-color: #ffe45e;
  text-underline-position: under;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}
