.section-work {
  padding: 0 4rem 8rem 4rem;
  @include respond(phone) {
    padding-bottom: 1.5rem;
  }
  &__heading {
    padding: 3rem 0 0rem 0;
    margin-top:4rem;
    text-decoration: underline;
    text-decoration-color: #FFE45E;
    text-underline-position: under; 
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
    @include respond(phone) {
      padding: 3rem 1.5rem 0rem 1.5rem;
    }
  }
}

.project {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  @include respond(phone) {
    padding: 0 1.5rem;
  }
  &__img {
    background-color: $color-secondary;
    width: 500px;
    height: 500px;
  }
  &__desc {
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include respond(phone) {
      flex-direction: column;
    }
    &-content {
      display: flex;
      flex-direction: column;
      color: $color-secondary;
      row-gap: 5rem;
      @include respond(phone) {
        width: 100%;
      }
      &-h1 {
        color: $color-secondary;
      }
    }
  }
  .project:hover {
    background-color: rgba(143, 109, 245, 0.5);
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include respond(phone) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
hr {
  margin-bottom: 3rem;
  background: linear-gradient(to right, #FFC6FF, #BEE1E6,#FFE45E  );
  height: 10px;
  border:0;
}
.text-underline{
  text-decoration: underline;
    text-decoration-color: #FFE45E;
    text-underline-position: under; 
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
}