.section-work {
  padding: 0;
  padding-bottom: 1rem;
  @include respond(phone) {
    padding-bottom: 1.5rem;
  }
  &__heading{
    padding:3rem 2rem 0rem 2rem;
    @include respond(phone) {
      padding: 3rem 1.5rem 0rem 1.5rem;
    }
  }
}

.project {
  display: flex;
  flex-direction: row;
  padding:0 2rem;
    @include respond(phone) {
      padding: 0 1.5rem;
    }
  &__img {
    background-color: $color-secondary;
    width: 100%;
    height: 500px;
  }
  &__desc {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include respond(phone) {
      flex-direction: column;
    }
    &-content {
      display: flex;
      flex-direction: column;
      color: $color-secondary;
      @include respond(phone) {
        width: 100%;
      }
      &-h1 {
        color: $color-yellow;
      }
    }
  }
  .project:hover{
    background-color: rgba(143, 109, 245, .5);
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    @include respond(phone) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
hr {
  margin-bottom: 3rem;
  border-bottom: 1px solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  color: $color-secondary;
}
.section-work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include respond(tab-port) {
    padding-bottom: 1.5rem;
  }
  &__heading {

    @include respond(tab-port) {
      padding: 3rem 1.5rem 0rem 1.5rem;
    }
  }
}

.project {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 2rem;
  @include respond(tab-port) {
    flex-direction: column;
    align-items:flex-start;
    row-gap: 3rem;
    justify-content: space-between;
    padding:5rem 3rem;
  }
  &__img {
    text-align: center;
    @include respond(tab-port) {
        margin: auto;
    }
  }
  &__desc {
    @include respond(tab-port) {
      width: 100%;
    }
    &-content {
      display: flex;
      flex-direction: column;
      color: $color-secondary;
      row-gap: 5rem;
      padding: 0 5rem;
      @include respond(tab-port) {
        row-gap: 3rem;
      }
      &-heading{
        display: flex;
        text-align: center;
        flex-direction: column;
        row-gap: 2rem;
      }
    }
  }

  &__link {
    @include respond(tab-port) {
      width: 100%;
      align-items: center;
      column-gap: 2rem;
      justify-content: space-between;
      margin-top: 2rem;
    }
  }
}

.text-underline{
  text-decoration: underline;
    text-underline-position: under; 
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
    &-yellow{
      text-decoration-color: #FFE45E;
    }
    &-brown{
      text-decoration-color:#65471B;
    }
}

.bg-red{
background-color: rgba(196,41,60,0.14);
}
.bg-grey{
  background-color: rgba(216,217,217,0.5);
}
.bg-brown{
  background-color: rgba(130,111,102,0.2);
}
.museum-mockup{
  margin: auto;
  @include respond(tab-port) {
  width: 50%;
  }
}
.responsive-img{
  width: 50%;
  image-rendering:  -webkit-optimize-contrast;
  // max-width: 50%;
  @include respond(tab-port) {
      width: 70%;
  }
}
.home-img-1{
  width: 80%;
  @media only screen and (max-width: 187.5em){
  width: 60%;
  }
}
.home-img-2{
  width: 20% !important;
  @media only screen and (max-width: 187.5em){
    width: 50% !important;
    margin: auto;
  }
  @include respond(tab-port) {
    margin: auto;
    width: 100% !important;
  }
  @media only screen and (min-width: 387.5em){
    width: 50% !important;
  }

}
.width-80-img{
  width: 80% !important;
}
.text-underline-red{
  text-decoration: underline;
  text-decoration-color: #C4293C;
  text-underline-position: under; 
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}
.text-underline-grey{
  text-decoration: underline;
  text-decoration-color: #000000;
  text-underline-position: under; 
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}
.text-underline-brown{
  text-decoration: underline;
  text-decoration-color: #826F66;
  text-underline-position: under; 
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}
ul{
  list-style-position: inside;
}