$color-secondary: #0c0c0c;
$color-primary: #FBFFFE;
$color-accent: rgba(255, 255, 255, 0.6);
$color-grey: #747572;
:root {
  --duration: 400ms;
  --ease: cubic-bezier(0.19, 1, 0.22, 1);
  --bounce: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
//#EFEBE8
//F05D5E
//CE1483
