body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.75;
  color: $color-secondary;
}
.font-accent{
  font-family: "Forum", serif;
}

.text {
  &__bigheading{
    font-size: 3.6rem;
    @include respond(tab-land) {
      font-size: 2.4rem;
    }
  }
  &__heading {
    font-size: 3.6rem;
    @include respond(tab-land) {
      font-size: 2.4rem;
    }
  }
  &__subheading-1 {
    font-size: 2.4rem;
    @include respond(tab-land) {
      font-size: 2rem;
    }
  }
  &__subheading {
    font-size: 2rem;
    &-bold{
      font-size: 2rem;
      font-weight: 700;
    }
    &-semi-bold{
      font-size: 1.75rem;
      font-weight: 600;
    }
    @include respond(tab-land) {
      font-size: 1.75rem;
    }
  }
  &__content {
    font-size: 1.6rem;
    @include respond(tab-land) {
      font-size: 1.5rem;
    }
  }
}
.section-padding {

  margin: 10rem 4rem;

  @include respond(phone) {
    margin: 3rem;
  }
  
}

.align-center{
  text-align: center;
}
.div-align-center{
  margin: auto;
}
.width-half{
  width: 68%;
  margin: auto;
}
.row-flex{
  display: flex;
  align-items: center;
  column-gap: 5rem;
  justify-content: flex-start;
  margin-left:15rem;
}
.figmabutton{
  border: 1px solid $color-secondary;
  border-radius: 5px;
  color: color-secondary;
  padding: 3rem 4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  background-color: transparent;
  margin: auto;
}