:root {
  --duration: 400ms;
  --ease: cubic-bezier(0.19, 1, 0.22, 1);
  --bounce: cubic-bezier(0.6, -0.28, 0.735, 0.045); }

/*reset browser's default styling*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*to make box sizing as an inheritable property*/ }

html {
  font-size: 62.5%;
  /*1 rem=10px, 62.5%of root font size 16px=10px*/
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 60em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #FBFFFE;
  overflow-x: hidden; }

::selection {
  background-color: #0c0c0c;
  color: #FBFFFE; }

a {
  color: #0c0c0c;
  text-decoration: none;
  position: relative; }

a.link-effect::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #FFC6FF, #BEE1E6, #FFE45E);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s; }

a.link-effect:hover::before {
  visibility: visible;
  transform: scaleX(1); }

.copy-click {
  position: relative;
  text-decoration: none;
  cursor: default;
  display: inline-block;
  color: #0c0c0c; }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInLeftZoom {
  0% {
    opacity: 0;
    transform: translateX(5rem) translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInRightZoom {
  0% {
    opacity: 0;
    transform: translateX(-5rem) translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveFromDown {
  0% {
    opacity: 0;
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateY(-100%) rotateX(80deg);
    transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0s cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    opacity: 1; } }

@keyframes lineGrow {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

body {
  font-family: "Work Sans", sans-serif;
  line-height: 1.75;
  color: #0c0c0c; }

.font-accent {
  font-family: "Forum", serif; }

.text__bigheading {
  font-size: 3.6rem; }
  @media only screen and (max-width: 75em) {
    .text__bigheading {
      font-size: 2.4rem; } }

.text__heading {
  font-size: 3.6rem; }
  @media only screen and (max-width: 75em) {
    .text__heading {
      font-size: 2.4rem; } }

.text__subheading-1 {
  font-size: 2.4rem; }
  @media only screen and (max-width: 75em) {
    .text__subheading-1 {
      font-size: 2rem; } }

.text__subheading {
  font-size: 2rem; }
  .text__subheading-bold {
    font-size: 2rem;
    font-weight: 700; }
  .text__subheading-semi-bold {
    font-size: 1.75rem;
    font-weight: 600; }
  @media only screen and (max-width: 75em) {
    .text__subheading {
      font-size: 1.75rem; } }

.text__content {
  font-size: 1.6rem; }
  @media only screen and (max-width: 75em) {
    .text__content {
      font-size: 1.5rem; } }

.section-padding {
  margin: 10rem 4rem; }
  @media only screen and (max-width: 26.875em) {
    .section-padding {
      margin: 3rem; } }

.align-center {
  text-align: center; }

.div-align-center {
  margin: auto; }

.width-half {
  width: 68%;
  margin: auto; }

.row-flex {
  display: flex;
  align-items: center;
  column-gap: 5rem;
  justify-content: flex-start;
  margin-left: 15rem; }

.figmabutton {
  border: 1px solid #0c0c0c;
  border-radius: 5px;
  color: color-secondary;
  padding: 3rem 4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  background-color: transparent;
  margin: auto; }

.flower {
  z-index: 5000; }
  .flower__head {
    width: 90px;
    height: 30px;
    border-radius: 15px;
    background: white;
    margin-top: 50px; }
    .flower__head::after, .flower__head::before {
      content: '';
      position: absolute;
      background: white;
      border-radius: 20px;
      width: 90px;
      height: 30px;
      transform: rotate(60deg); }
    .flower__head::before {
      transform: rotate(-60deg); }
  .flower__nose {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40px;
    height: 40px;
    z-index: 1;
    background: pink;
    border-radius: 50%; }
  .flower-2 {
    align-self: flex-end; }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 5s linear infinite; }

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navbar-padding {
  padding: 4rem 4rem 0 4rem; }
  @media only screen and (max-width: 26.875em) {
    .navbar-padding {
      padding: 3rem; } }

.nav__menu {
  display: flex;
  column-gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  list-style: none; }

.nav__link {
  font-size: 1.5rem;
  padding-bottom: 0.4rem;
  color: #0c0c0c; }
  @media only screen and (max-width: 75em) {
    .nav__link {
      font-size: 1.65rem; } }

.nav__logo {
  font-size: 1.5rem;
  color: #0c0c0c; }
  @media only screen and (max-width: 75em) {
    .nav__logo {
      font-size: 1.65rem; } }

.hamburger {
  display: none; }

.bar {
  display: block;
  width: 25px;
  height: 1px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #0c0c0c; }

@media only screen and (max-width: 60em) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    padding: 4rem 0;
    flex-direction: column;
    background-color: #FBFFFE;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    z-index: 100; }
  .nav__item {
    margin: 2.5rem 0; }
  .nav__link {
    color: #0c0c0c;
    font-size: 3rem; }
  .nav__menu.active {
    left: 0;
    top: 0; }
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 150; }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: #0c0c0c; }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
    background-color: #0c0c0c; }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    background-color: #0c0c0c; } }

.section-footer {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 26.875em) {
    .section-footer {
      flex-direction: column;
      row-gap: 3rem; } }

.footer-padding {
  padding: 4rem; }
  @media only screen and (max-width: 26.875em) {
    .footer-padding {
      padding: 3rem; } }

.socials {
  display: flex;
  column-gap: 2rem; }
  @media only screen and (max-width: 26.875em) {
    .socials {
      justify-content: space-between; } }

.landing-page-flex {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  justify-content: space-between; }

.landing-page-underline {
  text-decoration: underline;
  text-decoration-color: #ffc6ff;
  text-underline-position: under; }

.button-underline {
  text-decoration: underline;
  text-decoration-color: #ffc6ff;
  text-underline-position: under;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px; }

.section-work {
  display: flex;
  flex-direction: column;
  row-gap: 10rem;
  justify-content: space-between; }
  @media only screen and (max-width: 60em) {
    .section-work {
      padding-bottom: 1.5rem; } }
  .section-work__heading {
    text-decoration: underline;
    text-decoration-color: #FFE45E;
    text-underline-position: under;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px; }
    @media only screen and (max-width: 60em) {
      .section-work__heading {
        padding: 3rem 1.5rem 0rem 1.5rem; } }

.project {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 2rem; }
  @media only screen and (max-width: 60em) {
    .project {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 3rem;
      justify-content: space-between; } }
  .project__img {
    background-color: #0c0c0c;
    width: 500px;
    height: 500px; }
    @media only screen and (max-width: 60em) {
      .project__img {
        width: 200px;
        height: 100px;
        align-self: center; } }
  .project__desc {
    width: 40%; }
    @media only screen and (max-width: 60em) {
      .project__desc {
        width: 100%; } }
    .project__desc-content {
      display: flex;
      flex-direction: column;
      color: #0c0c0c;
      row-gap: 5rem; }
      @media only screen and (max-width: 60em) {
        .project__desc-content {
          row-gap: 2rem; } }
  .project__link {
    display: flex;
    justify-content: flex-start;
    column-gap: 5rem; }
    @media only screen and (max-width: 60em) {
      .project__link {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 2rem; } }

hr {
  margin-bottom: 3rem;
  background: linear-gradient(to right, #FFC6FF, #BEE1E6, #FFE45E);
  height: 10px;
  border: 0; }

.text-underline {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px; }
  .text-underline-yellow {
    text-decoration-color: #FFE45E; }
  .text-underline-brown {
    text-decoration-color: #65471B; }

.bg-yellow {
  background-color: rgba(253, 255, 182, 0.36); }

.bg-brown {
  background-color: rgba(101, 71, 27, 0.14); }

.section-about {
  display: flex;
  flex-direction: column;
  row-gap: 10rem;
  justify-content: space-between; }
  @media only screen and (max-width: 75em) {
    .section-about {
      gap: 3rem; } }
  @media only screen and (max-width: 75em) {
    .section-about {
      flex-direction: column; } }
  .section-about__about {
    display: flex;
    flex-direction: column;
    row-gap: 8rem; }
    @media only screen and (max-width: 75em) {
      .section-about__about {
        padding: 0;
        border-right: none;
        border-bottom: none;
        row-gap: 3rem; } }
    @media only screen and (max-width: 75em) {
      .section-about__about {
        width: 100%; } }
    .section-about__about-content {
      display: flex;
      flex-direction: row;
      height: 100%;
      justify-content: space-around;
      column-gap: 5rem; }
      @media only screen and (max-width: 75em) {
        .section-about__about-content {
          flex-direction: column;
          row-gap: 5rem;
          justify-content: space-between; } }

.about-section-heading {
  text-decoration: underline;
  text-decoration-color: #BEE1E6;
  text-underline-position: under;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px; }
  .about-section-heading-1 {
    text-align: center; }

.col-flex {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  width: 50%; }
  @media only screen and (max-width: 75em) {
    .col-flex {
      width: 100%; } }
  .col-flex-heading {
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .col-flex-heading {
        text-align: left; } }

.row-flex-content {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 50%;
  padding: 3rem 0; }

.about-content-flex {
  display: flex;
  flex-direction: column;
  row-gap: 3rem; }

.ul-style {
  list-style-position: inside; }

.section-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 60em) {
    .section-contact {
      flex-direction: column; } }
  .section-contact__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5rem;
    justify-content: space-between; }

.text-underline-pink {
  text-decoration: underline;
  text-decoration-color: #FFC6FF;
  text-underline-position: under;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px; }

.contactFlex {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center; }

.case-study-content {
  display: flex;
  flex-direction: column;
  row-gap: 3rem; }
  .case-study-content-inner {
    display: flex;
    flex-direction: column;
    row-gap: 3rem; }

.case-study-banner {
  display: flex;
  padding: 3rem;
  justify-content: space-evenly; }
  @media only screen and (max-width: 60em) {
    .case-study-banner {
      flex-direction: column;
      row-gap: 5rem; } }
  .case-study-banner-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center; }
    @media only screen and (max-width: 60em) {
      .case-study-banner-content {
        width: 100%; } }
  .case-study-banner-image {
    text-align: center; }

.logo-size {
  font-size: 18px !important; }

.banner-logo-flex {
  display: flex;
  align-items: center;
  column-gap: 2rem; }

.responsive-img {
  width: 100%;
  max-width: 50%;
  height: auto; }
  @media only screen and (max-width: 60em) {
    .responsive-img {
      max-width: 30%; } }

.underlined {
  text-decoration: underline;
  text-underline-position: under; }

.img-left {
  text-align: left; }
